# Arquivos de ambiente virtual
venv/
.venv/
env/
.env

# Cache e arquivos compilados do Python
__pycache__/
*.pyc

# Ignorar o cache local do ChromaDB
chroma_db_cache/
*.db

# Arquivos de configuração de IDEs (exemplo para VSCode)
.vscode/

#cluster1 criado para debugar motor legado
cluster1.csv